<DOCTYPE !html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Password Reset</title>
  </head>
  <body>
    <h1>You have successfully changed your password!</h1>
  </body>
</html>