<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Password Reset</title> 
  </head>
  <body>
    <form>
      <label for="password"></label>
      <input class="form-control" type="password" name="password" placeholder="New password" autofocus="true">
      <label for="confirm"></label>
      <input class="form-control" type="password" name="confirm" placeholder="New password">
      <button class="btn btn-success" type="submit">Update Password</button>
    </form>
  </body>
</html>