<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Password Reset</title> 
  </head>
  <body>
    <div class="container">
    <h1>Password Reset</h1>
    <form name="pwForm" onsubmit="onSubmit()">
      <div class="row" style="padding: 5px">
        <label for="password">New Password:</label> 
        <input class="form-control" type="password" name="password" placeholder="New password" autofocus="true">
      </div>
      <div class="row" style="padding: 5px">
        <label for="confirm">Confirm Password:</label>
        <input class="form-control" type="password" name="confirm" placeholder="Confirm password">
        <p id="matchError" style="display:none;color:red">The passwords do not match.</p>
        <p id="lengthError" style="display:none;color:red">Please enter a password with 6 or more characters.</p>
      </div>
      <div class="row" style="padding: 5px" >
        <button class="btn btn-success" id="submitButton" name="submitButton" type="submit">Update Password</button>
      </div>
    </form>
    </div>
  <script>
    let form = document.pwForm;

    function formCheck(){
      const password = form.password.value;
      const confirm = form.confirm.value;

      if (password !== confirm){
        document.getElementById('submitButton').disabled = true;
        document.getElementById('matchError').style.display = 'block';
      } else {
        document.getElementById('matchError').style.display = 'none';
      }
      if (password.length < 6){
        document.getElementById('submitButton').disabled = true;
        document.getElementById('lengthError').style.display = 'block';
      } else {
        document.getElementById('lengthError').style.display = 'none';
      }
      if (password === confirm && password.length >= 6) {
        document.getElementById('submitButton').disabled = false;
      }
    }

    function onSubmit(){
      if (confirm('Are you sure you want to change your password?')) {
        document.forms[0].submit();
      } else {
        return false;
      }
    }

    form.confirm.addEventListener("blur", formCheck);
  </script>
  </body>
</html>